<!DOCTYPE html>
<html lang="en">
<%- include('layouts/header'); -%>
   <body style="background-color: #FEFBE4;">   
   <%- include('layouts/heading'); -%>
   <main>
      <div class="container">
      <div class="row">
         <div class="col-sm-8 blog-main"> 
            <div class="blog-post">
               <h1 class="blog-post-title" data-i18n-key="addData-title"></h1>
               <small class="text-muted" data-i18n-key="addData-Subtitle"></small><br><p></p><br>
               <span data-i18n-key="addData-context-line-1"></span>             
               <span data-i18n-key="addData-context-line-2"></span>  
               <hr>
               <h2 class="blog-post-title" data-i18n-key="addData-Title-2"></h2>
               <small class="text-muted" data-i18n-key="addData-Subtitle-2"></small><br><p></p><br>
               <span data-i18n-key="addData-context-line-3"></span>             
               <span data-i18n-key="addData-context-line-4"></span>               
            </div>
         </div>
      </div>
   </div>
   </main>
   <%- include('layouts/footer'); -%>
   <script src="/js/add.js"></script>
   </body>
</html>