<!DOCTYPE html>
<html lang="en">
<%- include('layouts/header'); -%>
   <body style="background-color: #FEFBE4;">   


    <main>
       <div class="container marketing">                     
          <div class="row featurette">            
            <div class="col-md-7">
              <h1 class="featurette-heading fw-normal lh-1" data-i18n-key="error-Item-1-title"></h1>
              <h2 class="featurette-heading fw-normal lh-1"><span class="text-body-secondary" data-i18n-key="error-Item-1-subtitle" ></span></h2>              
              <p class="lead">
                <span data-i18n-key="error-Item-1-line-1"><br></span>
                <span data-i18n-key="error-Item-1-line-2"><br></span>                
                <br>
                </p>
            </div>            
          </div>          
    </main>

    <%- include('layouts/footer'); -%>
   </body>
</html>