<!DOCTYPE html>
<html lang="en">
<%- include('layouts/header'); -%>
   <body style="background-color: #FEFBE4;">   
   <%- include('layouts/heading'); -%>


    <main>
       <div class="container marketing">                               
         <div class="jumbotron p-3 p-md-5 text-white rounded bg-dark bg-image" style="background-image: url('/img/FinalFronteir.jpg'); height: 500px; background-size: cover; background-position: center;">
            <div class="col-md-8 px-0">
              <h1 class="display-4 font-italic" data-i18n-key="Unknown-title"></h1>
              <span data-i18n-key="Unknown-content-line-1"><br></span><br><p></p>
              <span data-i18n-key="Unknown-content-line-2"><br></span>
              
              
            </div>            
          </div>
       </div>
    </main>
    <%- include('layouts/footer'); -%>
   </body>
</html>



   